[Desktop Entry]
Encoding=UTF-8
Name=INDIUM
Comment=INDIUM P2P Cryptocurrency
Comment[fr]=INDIUM, monnaie virtuelle cryptographique pair à pair
Comment[tr]=INDIUM, eşten eşe kriptografik sanal para birimi
Exec=indium-qt %u
Terminal=false
Type=Application
Icon=Indium128
MimeType=x-scheme-handler/indium;
Categories=Office;Finance;
